@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@800&family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    font: 400 15px; 
    font-family: 'Pacifico', serif;
    margin: 4%;
    display: flex;
  }
  
  .lawn {
    background-color: hsl(120, 58%, 33%);
  }
    
.t1{
   width: 7px;
   height: 7px;
   box-shadow: 0 0 0 3px #fff, 0 0 0 6px #000;
   border:  solid black;
}

.pillars{
display: flex;
flex-direction: column;
justify-content: space-around;
z-index: 1;
position: relative;
left: 30px;

}
  .terrace {
    background-color: hsl(28, 32%, 66%);
    height: 520px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;   
    flex: none;
  }
  
  .house{
    display: flex;
  }
  .dining {
    background-color: hsl(0, 80%, 90%);
    height: 220px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    border:  solid black 6px;
    
    border-right: none;
  }

  .kitchen {
    background-color: hsl(51, 80%, 90%);
    height: 180px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:  solid black 6px;
    border-right: none;
    border-top: none;
  }
  
  .col2{
    display: flex;
    flex-direction: row;
    flex: 0 1 280px;

  }
  .storage {
    background-color: hsl(102, 80%, 90%);
    width: 70px;
    height: 170px;
    display: flex;        
    justify-content: center;
    align-items: center;
    border:  solid black 6px;
    border-bottom: none;
    border-right: none;
    
  } 
  
  .bathroom {
    background-color: hsl(204, 80%, 90%);
    width: 100px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  solid black 6px;
    border-bottom: none;
    
  } 
  
  .hall {
    background-color: hsl(255, 80%, 90%);
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    border:  solid black 6px;
    border-bottom: none;
    
  }
  
  .entry {
    background-color: hsl(153, 80%, 90%);
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    border:  solid black 6px;
    
  }

  .right-wing{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: 3 1 3px;
   
    

    
  }
  
  .guest {
    background-color: hsl(306, 80%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 500px;
    height: 300px;
    border-top-right-radius: 80px;
    /* box-shadow: 0 0 0 3px #fff, 0 0 0 6px #000; */
    border:  solid black 6px;
    border-bottom: none;
    border-left:none;
    
  }
  
  .garage {  
    background-color: hsl(0, 0%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 600px;
    position: relative;
    /* box-shadow: 0 0 0 3px #fff, 0 0 0 6px #000; */
    border:  solid black 6px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    
  }

  .parking{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   position: absolute;
   
 }
 
 .parking div{
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   height: 145px;
   width: 85px;
   border: 1px solid black;
   z-index: 1;
  display: flex;
  
   
 } 
 .garagecol{
      display: flex;
      position: absolute;
      height: 20px; 
      width: 25px; 
      padding: 1px; 
      transform: rotate(0deg) skew(0deg); 
      -webkit-transform: rotate(0deg) skew(0deg); 
      border-top: 0px solid transparent; 
      border-left: 0px solid transparent; 
      border-right: 10px solid #000000; 
      border-bottom: 9px solid #000000; 
      z-index: 2;
      top: 10;
      right: 0;
      bottom: 0;
 }