*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 400 15px  Arial, sans-serif;
}
.middle{
  flex: 0 1 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mid1{
  flex: 0 1 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right.wing{

  
}
.lawn {
  background-color: hsl(120, 58%, 33%);
  height: 100%;
  padding: 4%;
}
.house{
  display: flex;
  height: 100%;
}
  
.terrace {
  background-color: hsl(28, 32%, 66%);
  flex: 2 1 200px;
  display: flex;

}

.dining {
  background-color: hsl(0, 80%, 90%);
}

.kitchen {
  background-color: hsl(51, 80%, 90%);
}

.storage {
  background-color: hsl(102, 80%, 90%);
  flex: 0 3 5;
  display: flex;
} 

.bathroom {
  background-color: hsl(204, 80%, 90%);
  flex: 0 6 5;
  display: flex;
} 

.hall {
  background-color: hsl(255, 80%, 90%);
}

.entry {
  background-color: hsl(153, 80%, 90%);
}

.guest {
  background-color: hsl(306, 80%, 90%);
  flex: 0 9 0;
}

.garage {  
  background-color: hsl(0, 0%, 90%);
  flex: 0 0 200px;
}